<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sk.matejsvrcek.znackar">

    <uses-feature android:name="android.hardware.camera.any" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:theme="@style/ZnackarTheme"
        android:label="Značkár"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".ui.MainActivity" android:exported="true"
            android:resizeableActivity="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PhotoDocumentationActivity" android:exported="true"
            />
        <activity android:name=".ui.TrackRecordingActivity" android:launchMode="singleTop" android:exported="true"/>
        <activity android:name=".ui.LibraryActivity" android:exported="true"/>
        <activity android:name=".ui.SettingsActivity" android:exported="true"/>
        <activity android:name=".ui.GuideActivity" android:exported="true"/>

        <service
            android:name=".utils.LocationTrackingService"
            android:exported="false"
            android:foregroundServiceType="location" />

    </application>
</manifest>
